* {
    font-family: Sans-serif;
    margin: 0px;
    padding: 0px;
}  

.navbar {
    position: relative;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 1px black;
    background-color: rgb(160, 160, 160);
}

.add-item {
    position: absolute;
    right: 20px;
}

.item-list {
    opacity: 0;
    position: absolute;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    left: 0;
    top: 95%;
    margin: 3px;
    border-radius: .25rem;
    pointer-events: none;
    box-shadow: 0px 2px 5px 0px #888888;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.item-label, .item, .remove_button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}

.item-list > .item:hover {
    color:rgb(160, 160, 160);
}

.navbar > .item-label:hover, .item-label:focus {
    color: white;
}

.item:active, .item:focus {
    pointer-events: auto;
}

.navbar > .item-label:focus + .item-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.title {
    padding: 20px;
    background-color: rgb(80, 80, 80);
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.date_posted {
    font-size:11px;
    color:#770808;
}

.border {
    border: 5px solid black;
    overflow:auto;
    margin: auto;
    padding: 5px; 
    margin: 5px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile_picture {
    border-radius: 50%;
    border: 1px solid black;
}

.images {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.remove_button {
    display: inline-block;
    position: absolute;
    right: 15px;
    color: rgb(55, 0, 0)
}

.remove_button:hover {
    color: rgb(150, 0, 0);
}

.remove_button:focus {
    color: rgb(190, 0, 0);
}

form {
    display: inline-block;  
}
